body {
  background-image: url("img/weddingbackground.jpg");
  background-size: 100%;
  padding-top: 10px;
}

#main-info {
  font-family: 'Petit Formal Script', cursive;
  padding-top: 10px;
}

#heroimg {
  width: 75%;
  height: 75%;
}

#church, #ovation {
  width: 500px;
  height: 350px;
}

#wedding-details, #schedule, #story {
  padding-top: 50px;
}